<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <script src="https://kit.fontawesome.com/629ae5694a.js" crossorigin="anonymous"></script>
		<link rel="stylesheet" href="{{url_for('static',filename='css/theme.css')}}">
	</head>
	<body>
		<div class="jumbotron">
			<h1 class="display-2">BookShop</h1>
		</div>
        <!--Navigation pane-->
		<nav>
			<ul class="nav nav-fill">
				<li class="nav-item">
					<a class="nav-link" href="#">Home</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">About</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/books">Books</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Contact us</a>
				</li>
                <li class="nav-item">
                    <a class="nav-link" href="#" data-toggle="modal" data-target="#basket"><span class="fas fa-shopping-basket" style="font-size:20px"></span>{{session['total_quantity']}} Basket</a>
                </li>
			</ul>
		</nav>
        <br>
        <!--Basket contents-->
        <div id="basket" class="modal fade bd-example-modal-xl">
            <!--Modal box-->
            <div class="modal-dialog modal-xl" role="document">
                <!--Inner modal content-->
                <div class="modal-content">
                    <!--Header contents in modal-->
                    <div class="modal-header">
                        <h3 class="modal-title">Shopping cart</h3>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <!--Modal content-->
                    <div class="modal-body">
                        <!--All books added within current session loaded into basket-->
                        {% if 'cart_item' in session %}
                                {% for key, val in session['cart_item'].items() %}
                                {% set quantity = session['cart_item'][key]['quantity'] %}
                                {% set price = session['cart_item'][key]['price'] %}
                                {% set item_price = session['cart_item'][key]['total_price']%}
                                <div class="container">
                                    <div class="row">
                                        <div class="col-3 offset-2">
                                            isbn-13
                                        </div>
                                        <div class="col-*-*" >
                                            {{ session['cart_item'][key]['ISBN13']}}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-3 offset-2">
                                           Book title
                                        </div>  
                                        <div class="col-*-*">
                                           {{ session['cart_item'][key]['book_description'] }} 
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-3 offset-2">
                                            Author
                                        </div>
                                        <div class="col-*-*">
                                            {{ session['cart_item'][key]['Author'] }}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-3 offset-2">
                                            Genre
                                        </div>
                                        <div class="col-*-*">
                                            empty
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-3 offset-2">
                                            Price
                                        </div>
                                        <div class="col-2">
                                            {{ session['cart_item'][key]['price'] }}
                                        </div>
                                        <div class="col-*-*">
                                            <!--Delete action for products located in basket-->
                                            <!--Generated incrementally for each product add-->
                                            <a href="{{ url_for('.delete_product', code=session['cart_item'][key]['ISBN13']) }}" class="btnRemoveAction">
                                                &times;
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                                <!--Final totals in quantity and price-->
                                <div class="container">
                                    <div class="row">
                                        <div class="col-2">
                                            Total quantity:
                                        </div>
                                        <div class="col-*-*">
                                            {{session['total_quantity']}}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-2">
                                            Total cost:
                                        </div>
                                        <div class="col-*-*">
                                            {{session['total_cost']}}
                                        </div>
                                    </div>
                                </div>
                        {% else: %}
                            <!--Condition whereupon the basket is empty-->
                            <div class="row justify-content-md-center">
                                <div class="col-12">
                                    Your cart is empty
                                </div>
                            </div>
                        {% endif %}
                    </div>
                    <!--Footer contents in modal-->
                    <div class="modal-footer">
                        <!--Action going forwards with app-->
                        <button type="button" class="btn btn-success">Check out</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
            <!--Book highlights carousel-->
			<div id="BookCatalog" class="col-10">
				<div class="row">
					<div class="col-12">
						<div class="jumbotron">
                            <!--Carousel main information-->
							<div id="bookOffers" class="carousel slide" data-ride="carousel">
								<ol class="carousel-indicators">
									<li data-target="#bookOffers" data-slide-to="0" class="active"></li>
									<li data-target="#bookOffers" data-slide-to="1"></li>
									<li data-target="#bookOffers" data-slide-to="2"></li>
								</ol>
								<div class="carousel-inner">
									<div class="carousel-item active">
										<img class="d-block w-50" src="{{url_for('static',filename='images/template.png')}}" style="width:25%;height:25%;" alt="Book example 1">
										<div class="carousel-caption d-none d-md-block">
											<h5>Book example 1</h5>
											<p>please insert text here</p>
										</div>
									</div>
									<div class="carousel-item">
										<img class="d-block w-50" src="{{url_for('static',filename='images/template.png')}}" style="width:25%;height:25%;" alt="Book example 1">
										<div class="carousel-caption d-none d-md-block">
											<h5>Book example 2</h5>
											<p>please insert text here</p>
										</div>
									</div>
									<div class="carousel-item">
										<img class="d-block w-50" src="{{url_for('static',filename='images/template.png')}}" style="width:25%;height:25%;" alt="Book example 1">
										<div class="carousel-caption d-none d-md-block">
											<h5>Book example 3</h5>
											<p>please insert text here</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div id="productItems" class="col-12">
                       <!--Listing of each book item in database-->
                    {% for book in products %}
                        <form method="POST" action="/add">
                            <div id="bookItem" class="col-3">
                                <div class="row" style="height:50%;">
                                    <div class="col-12">
                                        <p>{{book[4]}}</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-3">
                                        <a href="/bookDescription/{{book[0]}}" alt="/books">{{book[3]}}</a>
                                    </div>
                                    <div class="col-3">
                                        <p>{{book[1]}}</p>
                                    </div>
                                    <div class="col-3">
                                        <p>&#8356;{{book[5]}}</p>
                                    </div>
                                    <div class="col-3">
                                        <input type="hidden" id="quantity" name="quantity" value="1"/>
                                        <input type="hidden" id="isbn" name="isbn" value="{{book[0]}}"/>
                                        <input type="submit" class="btn btn-light" value="Add to cart"/>
                                    </div>
                                </div>
                            </div>
                        </form>
                    {% endfor %}
				    </div>
               </div>
		</div>
   </body>
</html>