/*home styles*/
p {
    font-size:10pt;
}
.jumbotron {
	height:100%;
	max-height:100%
}
.carousel-item img {
	display:block;
	margin: auto;
}
.nav-item {
    display:block;
    color:#000000;
    font-size:16pt;
}
.nav-item:hover {
    color:#ffffff;
    background-color:#000000;
    transition: color 1s, background-color 1s;
}
.nav-link {
    text-decoration:none;
    font-size:16.5pt;
    color:#000000;
    height:auto;
}
.nav-link:hover {
    color:#ffffff;
    transition: color 1s;
}
.nav-item button {
    height:30px;
}
#SearchFilter {
	padding-top:10px;
	padding-left:25px;
}
#SearchFilter .form-check {
	padding-left:50px;
}
.searchHeading {
	font-family:arial;
	font-size:14pt;
	margin: 0;
}
#SearchFilter form {
	border-radius:0px 25px 25px 0px;
	border-style: solid;
	border-width: 1px 1px 1px 0px;
	padding:10px;
}
#BookCatalog .row .col-3 {
	/*border-style: solid;
	border-width: 0.5px;*/
	height:25vh;
	padding:25px;
}
#BookCatalog .row .col-2 {
    height:25vh;
    padding:25px;
}
#productItems {
	overflow-y:scroll;
	overflow-x:hidden;
    text-align:center;
	height:50vh;
	display:block;
	margin:auto;
}

#productItems .row .col-3 .row .col-*-* {
    height:auto;
    padding:0px;
    text-align: center;
    padding-left:10px;
}
.centerIMG {
	display:block;
	margin-left:auto;
	margin-right:auto;
}
::-webkit-scrollbar {
	width:10px;
	border-radius:25px;
}	
::-webkit-scrollback-track { 
	background-color:#c2c2c2;
	border-radius:25px;
}
::-webkit-scrollbar-thumb {
	background:#f2f2f2;
	border-radius:25px;
}
::-webkit-scrollbar-thumb:hover {
	background-color:#555;
	border-radius:25px;
	transition: background-color 1s;
}
/*Login styles*/
a {
	font-size:10pt;
	line-height:0%;
}
.container-fluid {
	padding-top:10%;
	height:100vh;
}
.card {
	padding:5%;
	border-radius:25px;
}
/*BookShop styles*/
#bookItem {
    position:relative;
    float:left;
}
/*Books catalog*/
#booksCatalog {
    height:100vh;
    overflow-y:scroll;
}
#booksCatalog .row .col-4 {
	/*border-style: solid;
	border-width: 0.5px;*/
	height:10vh;
    padding:0px;
}
#booksCatalog .row .col-4 .row .col-4 {
    height:5vh;
    width:auto;
    padding:0px;
}