<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <script src="https://kit.fontawesome.com/629ae5694a.js" crossorigin="anonymous"></script>
		 {% assets "indexScript_style_bundle" %}
         <link 
          rel="stylesheet" 
          href="{{ ASSET_URL }}"
          type="text/css"
         />
         {% endassets %}-->
	</head>
	<body>
		<div class="jumbotron">
			<h1 class="display-2">BookShop</h1>
		</div>
        <!--Navigation pane-->
		<nav>
			<ul class="nav nav-fill">
				<li class="nav-item">
					<a class="nav-link" href="/admin_dashboard"><span class="fa fa-home"></span> Dashboard</a>
				</li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout"><span class="fa fa-sign-out"></span>Sign out</a>
                </li>
			</ul>
		</nav>
        <div id="newBook" class="modal fade bd-example-modal-xl">
            <div class="modal-dialog modal-xl" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title">New book item</h3>
                        <button type="button" class="close" data-dismiss="modal">
                            &times;
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="container">
                            <form method="POST" action="{{url_for('.addNewBook')}}">
                                <div class="form-group row">
                                    <label for="ISBN13" class="col-2 offset-3">Book ISBN-13:</label>
                                    <div class="col-4">
                                        <input id="ISBN13" name="ISBN13" type="text" class="form-control" placeholder="XXXXXXXXXXXX">    
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="Title" class="col-2 offset-3">Book title:</label>
                                    <div class="col-4">
                                        <input id="Title" name="Title" type="text" class="form-control" placeholder="Example">    
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="Author" class="col-2 offset-3">Book Author:</label>
                                    <div class="col-4">
                                        <input id="Author" name="Author" type="text" class="form-control" placeholder="John Smith">    
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="type" class="col-2 offset-3">Book genre:</label>
                                    <div class="col-4">
                                        <select id="genre" name="genre" class="form-control">
                                            <option>Action</option>
                                            <option>Adventure</option>
                                            <option>Biography</option>
                                            <option>Comedy</option>
                                            <option>Fantasy</option>
                                            <option>Horror</option>
                                            <option>Mystery</option>
                                            <option>Drama</option>
                                            <option>Science Fiction</option>
                                            <option>Science Fantasy</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="pubDate" class="col-2 offset-3">Publication Date:</label>
                                    <div class="col-4">
                                        <input id="pubDate" name="pubDate" type="date" class="form-control" placeholder="">    
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="type" class="col-2 offset-3">Book type:</label>
                                    <div class="col-4">
                                        <select id="type" name="type" class="form-control">
                                            <option>Softback</option>
                                            <option>Hardback</option>
                                            <option>Spiral-Bound</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="tradePrice" class="col-2 offset-3">Trade price:</label>
                                    <div class="col-4">
                                        <input id="tradePrice" name="tradePrice" type="text" class="form-control" placeholder="">    
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="retailPrice" class="col-2 offset-3">Retail price:</label>
                                    <div class="col-4">
                                        <input id="retailPrice" name="retailPrice" type="text" class="form-control" placeholder="">    
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="quantity" class="col-2 offset-3">Quantity:</label>
                                    <div class="col-4">
                                        <input id="quantity" name="quantity" type="text" class="form-control" placeholder="">    
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-2 offset-3">
                                        <input type="submit" class="btn btn-secondary" value="Add book">
                                    </div>    
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                   <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">ISBN</th>
                                <th scope="col">Title</th>
                                <th scope="col">Author</th>
                                <th scope="col">Publication date</th>
                                <th scope="col">Book type</th>
                                <th scope="col">Trade price</th>
                                <th scope="col">Retail price</th>
                                <th scope="col">Quantity</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for items in Products %} 
                            <tr>
                                <th scope="row">
                                    <input type="text" value="{{items[0]}}" readonly>
                                </th>
                                <td>
                                    <input type="text" value="{{items[3]}}" readonly>
                                </td>
                                <td>
                                    <input type="text" value="{{items[1]}}" readonly>
                                </td>
                                <td>
                                    <input type="text" value="{{items[2]}}" readonly>
                                </td>
                                <td>
                                    <input type="text" value="{{items[6]}}" readonly>
                                </td>
                                <td>
                                    <input type="text" value="{{items[7]}}" readonly>
                                </td>
                                <td>
                                    <input type="text" value="{{items[8]}}" readonly>
                                </td>
                                <td>
                                    <input type="text" id="quantity" value="{{items[9]}}" readonly>
                                </td>
                                <td>
                                    <a type="button" class="btn btn-danger" href="/delete_record/{{items[0]}}">
                                        Delete <span class="fa fa-window-close"></span>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                   </table>
                   <a class="btn btn-success btn-block" data-toggle="modal" data-target="#newBook">
                       Add new book <span class="fa fa-plus"></span>
                   </a>
            </div>
        </div>
    </body>
</html>