<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <script src="https://kit.fontawesome.com/629ae5694a.js" crossorigin="anonymous"></script>
		<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/theme.css')}}">
        <script>
            function editInformation(){
                document.getElementById('quantity').readonly = false;
            }
        </script>
	</head>
	<body>
		<div class="jumbotron">
			<h1 class="display-2">BookShop</h1>
		</div>
        <!--Navigation pane-->
		<nav>
			<ul class="nav nav-fill">
				<li class="nav-item">
					<a class="nav-link" href="/admin_dashboard"><span class="fa fa-home"></span> Dashboard</a>
				</li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout"><span class="fa fa-sign-out"></span>Sign out</a>
                </li>
			</ul>
		</nav>
        <div class="row">
            <div class="col-12">
                    <div class="row">
                        <div class="col-2">
                            
                        </div>
                        <div class="col-2">
                            ISBN
                        </div>
                        <div class="col-2">
                            Title
                        </div>                            
                        <div class="col-2">
                            publication date
                        </div>
                        <div class="col-1">
                            book type
                        </div>
                        <div class="col-1">
                            trade price
                        </div>
                        <div class="col-1">
                            retail price
                        </div>
                        <div class="col-1">
                            quantity                        
                        </div>
                    </div>                                           
                {% for items in Products %}    
                <form method="POST" action="">
                <div class="row"> 
                    <div class="col-2">
                        <button type="button" class="btn btn-secondary" onclick="editInformation()">
                            Edit
                        </button>
                        <button type="button" class="btn btn-danger" onclick="{{url_for('delete_record')}}">
                            Delete <span class="fa fa-window-close"></span>
                        </button>
                    </div>
                    <div class="col-2">
                        <input type="text" value="{{items[0]}}" readonly>
                    </div>
                    <div class="col-2">
                        <input type="text" value="{{items[3]}}" readonly>
                    </div>                         
                    <div class="col-2">
                        <input type="text" value="{{items[2]}}" readonly>
                    </div>
                    <div class="col-1">
                        <input type="text" value="{{items[6]}}" readonly>
                    </div>
                    <div class="col-1">
                        <input type="text" value="{{items[7]}}" readonly>
                    </div>
                    <div class="col-1">
                        <input type="text" value="{{items[8]}}" readonly>
                    </div>
                    <div class="col-1">
                        <input type="text" class="quantity" value="{{items[9]}}" readonly>
                    </div>                            
                </div>
                </form>
                    <br>
                {% endfor %}
            </div>
        </div>
    </body>
</html>